<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <a href="#" class="navbar-brand">
      <img class="img" src="https://res.cloudinary.com/nvhung1810/image/upload/v1668436627/enc/giangmanh_x0w0uq.png"
        alt="">
    </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="values" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Cái này không cần sửa gì -->